<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yhlearningclient"
    android:versionCode="87"
    android:versionName="1.01" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.yhlearningclient.ui.LoginActivity"
            android:screenOrientation="landscape"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            >
        </activity>
        <activity
            android:name="com.yhlearningclient.ui.TeacherMakerActivity"
            android:screenOrientation="landscape"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            >
        </activity>
         <activity
            android:name="com.yhlearningclient.ui.MainActivity"
            android:screenOrientation="landscape"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            >
           <intent-filter>
               <action android:name="android.intent.action.MAIN" />
               <category android:name="android.intent.category.LAUNCHER" />
               <category android:name="android.intent.category.HOME" />
           </intent-filter>
        </activity>
        <activity
            android:name="com.yhlearningclient.ui.LearningFileActivity"
            android:screenOrientation="landscape"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            >
        </activity>
        <activity
            android:name="com.yhlearningclient.ui.StudentManagerActivity"
            android:screenOrientation="landscape"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            >
        </activity>
        <activity
            android:name="com.yhlearningclient.ui.TeachingFileActivity"
            android:screenOrientation="landscape"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            >
        </activity>
        <activity
            android:name="com.yhlearningclient.ui.HomeworkActivity"
            android:screenOrientation="landscape"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            >
        </activity>
        <activity
            android:name="com.yhlearningclient.ui.MoreActivity"
            android:screenOrientation="landscape"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            >
        </activity>
        <activity
            android:name="com.yhlearningclient.ui.JxtzChild"
            android:screenOrientation="landscape"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            >
        </activity>
        <activity
            android:name="com.yhlearningclient.ui.CourseTableActivity"
            android:screenOrientation="landscape"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            >
        </activity>
        <activity
            android:name="com.yhlearningclient.ui.ScheduleTableActivity"
            android:screenOrientation="landscape"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            >
        </activity>
        <activity
            android:name="com.yhlearningclient.ui.MyCourselistActivity"
            android:screenOrientation="landscape"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            >
        </activity>
        <activity
            android:name="com.yhlearningclient.ui.MyCourseTableActivity"
            android:screenOrientation="landscape"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            >
        </activity>
        <activity
            android:name="com.yhlearningclient.ui.TeachingMessageActivity"
            android:screenOrientation="landscape"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            >
        </activity>
        <activity
            android:name="com.yhlearningclient.ui.MessageShowActivity"
            android:screenOrientation="landscape"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            >
        </activity>
        <activity
            android:name="com.yhlearningclient.ui.ClassroomFileActivity"
            android:screenOrientation="landscape"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            >
        </activity>
        <activity
            android:name="com.yhlearningclient.ui.ClassroomBookActivity"
            android:screenOrientation="landscape"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            >
        </activity>
        <activity
            android:name="com.yhlearningclient.ui.MyClassroomBookActivity"
            android:screenOrientation="landscape"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            >
        </activity>
        <activity
            android:name="com.yhlearningclient.ui.VideoCenterActivity"
            android:screenOrientation="landscape"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            >
        </activity>
        <activity
            android:name="com.yhlearningclient.ui.DetailActivity"
            android:screenOrientation="landscape"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            >
        </activity>
         <activity
            android:name="com.yhlearningclient.player.MiniPlayer"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.yhlearningclient.ui.MyVideoActivity"
            android:screenOrientation="landscape"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            >
        </activity>
        <activity
            android:name="com.yhlearningclient.ui.LearnFileActivity"
            android:screenOrientation="landscape"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            >
        </activity>
        <activity
            android:name="com.yhlearningclient.ui.TeachingAssistActivity"
            android:screenOrientation="landscape"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            >
        </activity>
        <activity
            android:name="com.yhlearningclient.ui.BookCategoryActivity"
            android:screenOrientation="landscape"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            >
        </activity>
        <activity
            android:name="com.yhlearningclient.ui.TeachingCategoryActivity"
            android:screenOrientation="landscape"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            >
        </activity>
         <activity
            android:name="com.yhlearningclient.ui.StudentSummaryActivity"
            android:screenOrientation="landscape"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            >
        </activity>
        <activity
            android:name="com.yhlearningclient.ui.OnlineForumActivity"
            android:screenOrientation="landscape"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            >
        </activity>
         <activity
            android:name="com.yhlearningclient.ui.ForumShowActivity"
            android:screenOrientation="landscape"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            >
        </activity>
        <activity
            android:name="com.yhlearningclient.ui.addMessageActivity"
            android:screenOrientation="landscape"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            >
        </activity>
        <activity
            android:name="com.yhlearningclient.ui.BookCategoryTreeActivity"
            android:screenOrientation="landscape"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            >
        </activity>
         <activity
            android:name="com.yhlearningclient.ui.addForumActivity"
            android:screenOrientation="landscape"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            >
        </activity>
        <activity
            android:name="com.yhlearningclient.ui.MyCourseBookActivity"
            android:screenOrientation="landscape"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            >
        </activity>
         <activity
            android:name="com.yhlearningclient.ui.TeachingAdditionalActivity"
            android:screenOrientation="landscape"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            >
        </activity>
         <activity
            android:name="com.yhlearningclient.ui.TeachingLocalActivity"
            android:screenOrientation="landscape"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            >
        </activity>
        <activity
            android:name="com.yhlearningclient.ui.MyAdditionalFileActivity"
            android:screenOrientation="landscape"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            >
        </activity>
        <activity
            android:name="com.yhlearningclient.ui.MyLocalFileActivity"
            android:screenOrientation="landscape"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            >
        </activity>
        <activity
            android:name="com.yhlearningclient.ui.TestPaperTreeActivity"
            android:screenOrientation="landscape"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            >
        </activity>
         <activity
            android:name="com.yhlearningclient.ui.TestPaperTreeStatActivity"
            android:screenOrientation="landscape"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            >
        </activity>
        <activity
            android:name="com.yhlearningclient.ui.UserTestPaperResult"
            android:screenOrientation="landscape"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            >
        </activity>
          <activity
            android:name="com.yhlearningclient.ui.QuestionSingleStat"
            android:screenOrientation="landscape"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            >
        </activity>
        <activity
            android:name="com.yhlearningclient.ui.ContactActivity"
            android:screenOrientation="landscape"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            >
        </activity>
        <activity
            android:name="com.yhlearningclient.ui.AllContactShowActivity"
            android:screenOrientation="landscape"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            >
        </activity>
       <activity
            android:name="com.yhlearningclient.ui.TestPaperQuestionByUseActivity"
            android:screenOrientation="landscape"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            >
        </activity>
        <activity
            android:name="com.yhlearningclient.ui.ShowUserAnswerActivity"
            android:screenOrientation="landscape"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            >
        </activity>
    </application>

<!-- 访问网络的权限 -->
<uses-permission android:name="android.permission.INTERNET" />
<permission android:name="android.permission.SEND_DOWNLOAD_COMPLETED_INTENTS"></permission>
<!-- 在SDCard中创建与删除文件权限 -->
<uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
<!-- 往SDCard写入数据权限 -->
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
<!-- 是否有网络的权限 -->
<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission> 

</manifest>